extends layout

block content
    form.row.mg-homepage-margin(role='form', action='/game', method='post')
        div.jumbotron.col-md-8
            h3
                | Please Select your Avatar
            hr.mg-hr-dark
            //Source: for the code below. Albert Wei (Thanks for the help!)
            each val, index in files
                label.mg-avatar
                    if index == 0
                        input(type='radio', name='avatar', value=val, checked)
                    else
                        input(type='radio', name='avatar', value=val)
                    img(src='/images/avatars/' + val)
        div.col-md-4
            h3 Welcome to Wei's Mafia
            h4
                small Make sure to read the rules before playing. By playing you're agreeing to our terms of use
            hr.mg-hr-dark
            div.form-group.mg-username
                label.control-label(for='username') Username
                div
                    input.form-control(type='username', placeholder='JohnSmith', name='username', id='username',
                        data-toggle='popover', data-placement='right', data-content='Hello World', data-trigger='manual')
            button.btn.btn-primary(type='submit') Let's Play
    script(src='/javascripts/username_validation.js')