extends layout

block content
    form.row.mg-homepage-margin(role='form')
        div.jumbotron.col-md-8
            h3
                | Please Select your Avatar
            hr.mg-hr-dark
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
            label.mg-avatar
                input(type='radio', name='avatar', value='1')
                img(src='/images/avatars/1.png')
        div.col-md-4
            h3 Welcome to Wei's Mafia
            h4
                small Make sure to read the rules before playing. By playing you're agreeing to our terms of use
            hr.mg-hr-dark
            div.form-group.mg-username
                label.control-label(for='username') Username
                div
                    input.form-control(type='username', placeholder='JohnSmith')
            button.btn.btn-primary(type='submit') Let's Play