doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='BCIT-CST-SET4Q')
        title Wei's Mafia
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.navbar.navbar-inverse.navbar-static-top(role='navigation')
            div.container
                div.navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img.mg-navbar-logo(src='/images/logo.png')
                        |Wei's Mafia
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Home
                        li
                            a(href='#about') About
                        li
                            a(href='#contact') Contact

        div.container
            block content

        div.footer
            div.container
                |Created By BCIT CST Set 4Q - Wei's Mafia

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')