div.modal.fade(id='rules', tabindex='-1', role='dialog', aria-labelledby='rules', aria-hidden='true')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h3.modal-title(id='rules') How to Play (Rules)
            div.modal-body
                h4 The Basics
                ul
                    li rule one
                    li rule two
                    li rule three
                p Lorem ipsum i saw beyonces tizzles and my pizzle went crizzle crunk dizzle, i saw beyonces tizzles and my pizzle went crizzle adipiscing elit. funky fresh velizzle, dope volutpizzle, hizzle quizzle, shizzle my nizzle crocodizzle vizzle, cool. Black things tortor. Sed erizzle. Stuff crackalackin dolor dapibus uhuh ... yih! tempizzle tempor. Maurizzle the bizzle nibh you son of a bizzle turpizzle. Shit izzle tortor. Shut the shizzle up eleifend rhoncizzle mah nizzle. In hac habitasse platea dictumst. Donec dapibizzle. Curabitur tellus urna, pretizzle funky fresh, mattizzle rizzle, its fo rizzle go to hizzle, nunc. Go to hizzle suscipit. Funky fresh izzle velit sizzle go to hizzle.
                p In gangsta leo fo shizzle nisi. Fo shizzle rhoncizzle, arcu non malesuada brizzle, sem nulla aliquet sem, auctizzle nulla felizzle a est. Suspendisse volutpat scelerisque augue. Shizznit ma nizzle lectus izzle ghetto. Prizzle consectetizzle dawg sapien. Etizzle stuff, dizzle cool amet dizzle tincidunt, leo black pot its fo rizzle, dope vestibulum dawg fizzle yo mamma i'm in the shizzle purus. Maecenizzle hendrerizzle tortizzle rizzle shit. Gangsta lobortizzle. Break it down lectizzle lacizzle, convallizzle nizzle, mammasay mammasa mamma oo sa sit amizzle, pulvinar egestizzle, augue. Vivamizzle fizzle. Vestibulum ante ass izzle dope crunk orci luctizzle black fizzle posuere cubilia Curae; Crazy shizzlin dizzle check out this eu enim bibendizzle break yo neck, yall. Pimpin' nizzle tortizzle, funky fresh vizzle, sempizzle sizzle, commodo cool, dawg. Etizzle feugiat, tortor vehicula shut the shizzle up, lorizzle justo break yo neck, yall , id pot mi urna vitae erat.
            div.modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close

div.modal.fade(id='lobby', tabindex='-1', role='dialog', aria-labelledby='lobby', aria-hidden='true')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h3.modal-title(id='lobby') Game Lobbies
            div.modal-body
                div.list-group.mg-list-group-margin
                    a.list-group-item(href='#') Room 1
                    a.list-group-item(href='#') Room 2
                    a.list-group-item(href='#') Room 3
                    a.list-group-item(href='#') Room 4
            div.modal-footer.mg-modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button', data-dismiss='modal') Join Game